pkgbase = stk-viewer
	pkgdesc = Render SuperTuxKart track minimaps to PNG and play replays back over them
	pkgver = 1.6.0
	pkgrel = 1
	url = https://github.com/schrowd/stk-viewer
	arch = any
	license = GPL-3.0-only
	depends = python
	depends = python-pillow
	depends = tk
	optdepends = python-numpy: alpha-correct, sharper downscaling
	source = stk-viewer-1.6.0.tar.gz::https://github.com/schrowd/stk-viewer/archive/refs/tags/v1.6.0.tar.gz
	sha256sums = b3c25b9d881c86a2df1530f8e41b83a41f94c9d0d66e07fafc294e86f60f0812

pkgname = stk-viewer
